@page "/Student/Upload/Receipt"

@attribute [Authorize(Roles ="Student")]
            <h3>Upload Reciept</h3>












@code {
        private PaidSessionDTO uploadModel = new PaidSessionDTO();

        private readonly IStudentServices _studentServices;
        public StudentUploadReciept(IStudentServices studentServices)
        {
            _studentServices = studentServices ?? throw new ArgumentNullException(nameof(studentServices));
        }

        private string HandleValidSubmit()
        {
            string imagePath = uploadModel.PictureLink;

            var result = _studentServices.UploadReciept(uploadModel);

            return result;

        }
    }
