<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="homepage">ACMS Management System</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <AuthorizeView Roles="Student">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="homepage" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Menu Page
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Student/Profile">
                    <span class="oi oi-person" aria-hidden="true"></span> Profile
                </NavLink>
            </li>

        </ul>
    </AuthorizeView>
    <AuthorizeView Roles="Admin,Teacher">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="homepage" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Menu Page
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Profile">
                    <span class="oi oi-person" aria-hidden="true"></span> Profile
                </NavLink>
            </li>         
        </ul>
    </AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
